<div class="container">
    <div class="text-center"><br>
        <h1 class="title">About us</h1><br>
        <section class="card">
         <img class="card-img" src="<%= asset_path('sauna.jpg') %>" style="height: 500px;" />
         <div class="card-content bg-info">
          <h3 class="card-title">このサイトはサウナユーザーのために作られらサイトです。</h3>
            <p>サウナの店情報を知りたい方やレビューが気になる方におすすめです。</p>
            <p>また当サイトにはアクセスマップもございますので位置情報のお調べにも最適です。</p>
            <p>会員登録ののちにサービスがご利用いただけます。</p>
            <p>ぜひご活用くださいませ！。</p>
         </div>
        </section>
    </div>
</div>