<div class="container">
    <div class="text-center"><br>
        <h1>極めろ！サウナ道へようこそ</h1>
        <p>当サイトは全国の多種多様なサウナを掲載しております。</p>
        <p>情報ツールの一環としてご利用くださいませ。</p>
        <p>伺ったサウナのレビューもぜひよろしくお願いします。</p>
        <p><img src= "<%= asset_path('sauna_top.jpg') %>" style="height: 500px;" /></p>
    </div>
</div>