<%= form_with model: @review, url: public_sauna_review_update_path, method: :patch do |f| %>

<p>レビュー内容：<%= f.text_area :content %></p>

<%= f.submit '保存' %>
<% end %>

<%= link_to "削除", public_sauna_review_destroy_path, method: :delete %>